# This is a basic workflow to help you get started with Actions

name: Update Packages

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches:
      - automation
  schedule:
    - cron: "0 0 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - name: prepare git
      run: |
        git config --global user.name "Lars' RPM Bot"
        git config --global user.email "bot@lkiesow.de"

    - name: prepare github ssh key
      env:
        DEPLOY_KEY: ${{ secrets.DEPLOY_KEY }}
      run: |
        install -dm 700 ~/.ssh/
        echo "${DEPLOY_KEY}" > ~/.ssh/id_ed25519
        chmod 600 ~/.ssh/id_ed25519
        ssh-keyscan github.com >> ~/.ssh/known_hosts

    - name: clone repository
      run: git clone "git@github.com:lkiesow/minio-rpm.git"  ~/minio-rpm-clone

    - name: update specs
      run: |
        cd ~/minio-rpm-clone
        ./update-minio-mc.sh
        ./update-minio.sh

    - name: push updates
      run: |
        cd ~/minio-rpm-clone
        git push origin master
